<div class="images">
  <div class="img1">
    <img src="../../assets/img/Jeff.jpg" height="300" width="300" />
  </div>
  <div class="img2">
    <img src=" ../../assets/img/Marissa.jpg" height="350" width="300" />
  </div>
  <div class="img3">
    <img src="../../assets/img/Mark.jpg" height="600" width="450" />
  </div>
  <div class="img4">
    <img src="../../assets/img/satya.jpg"  height="400" width="500"/>
  </div>
  <div class="img5">
    <img src="../../assets/img/sundhar.jpg" height="400" width="450"/>
  </div>
  <div class="img6">
    <img src="../../assets/img/Tim.jpg" height="400" width="450" />
  </div>

</div>
