<div class="images">
  <div class="img1">
    <img src="../../assets/img/Jeff.jpg" height="300" width="300" />
  </div>
  <div class="img2">
    <img src=" ../../assets/img/Marissa.jpg" height="300" width="300" />
  </div>
  <div class="img3">
    <img src="../../assets/img/Mark.jpg" height="500" width="350" />
  </div>
  <div class="img4">
    <img src="../../assets/img/satya.jpg"  height="300" width="600"/>
  </div>
  <div class="img5">
    <img src="../../assets/img/sundhar.jpg" height="300" width="620"/>
  </div>
  <div class="img6">
    <img src="../../assets/img/Tim.jpg" height="300" width="350" />
  </div>

</div>
